*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::selection{
    background-color: black;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
}

#nav{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
   padding: 1vw;
    position: fixed;
    z-index: 999;
   

}

#nav-part1{
    height: 5.4vw;
    overflow: hidden;
}
#nav-part1 svg{
    display: block;
}

#nav #nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

#nav-part2 #links{
    padding: 1vw;
}
#nav-part2 #links a{
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    font-weight: 400;
    font-size: 1.1vw;
    margin-right: 3vw;
    
}
#nav-part2 #icons{
  font-size: 1.5vw;  
  margin-right: 4vw;
  padding: 1vw;
}

  #nav-part2 #icons i:nth-child(1){
    margin-right: 5vw;
  
}
#cursor{
    height: 9vw;
    width: 9vw;
    border-radius: 50%;
    background-color: blanchedalmond;
    position: fixed;
    transform: translate(-50%, -50%) scale(0);
   z-index: 999;
}

#page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 15vh;
    padding-left: 1vw;
}

#page1 h1{
    font-size: 15vw;
    font-family: 'Futura', sans-serif;
  font-weight: 700;
    text-transform: uppercase;
    line-height: 13.2vw;
    letter-spacing: -8px;
    
}

#image-container{
    height: 100vh;
    width: 100%;
    margin-top: 1vw;
    object-fit: cover;
    object-position: center;
    position: relative;
    overflow: hidden;
}

#image-container img{
    height: 100%;
    width: 100%;
    padding: 0 1vw;
    scale: 1.2;
}

#page1 h2{
    font-size: 3.4vw;
    font-family: 'Futura', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 3vw;
    letter-spacing: -1px;
    margin-top: 12vw;
    text-align: center;
}

#page1 h5{
    font-size: 1vw;
    font-family: 'Futura', sans-serif;
    font-weight: 400;
    line-height: 2vw;
    margin-top: 2.6vw;
    text-align: center;
}

#page1 h4{
    font-size: 0.8vw;
    font-family: 'Futura', sans-serif;
    font-weight: 200;
    line-height: 2vw;
    margin-top: 2vw;
    text-align: center;
    border-bottom: 1px solid black;
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#page1 #line-bar{
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#page1 #line-bar h6{
    font-size: 0.9vw;
    font-family: 'Futura', sans-serif;
    font-weight: 400;
    line-height: 2vw;
    margin-top: 2vw;
    padding-right: 1vw;
}
    
    

#page2{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 1.5vw;
}

#page2 .elem{
    height: 100%;
    width: 31%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.2;
  
}

#page2 .elem .dets{
    height: 3vw;
    width: 70%;
position: absolute;
z-index: 9;
background-color: palegoldenrod;
border-radius: 2vw;
display: flex;
align-items: center;
justify-content: space-between;
text-transform: capitalize;
padding: 0vw 2vw;
}
#page2 .elem .dets h4{
    font-size: 1vw;
    font-family: 'Futura', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2vw;
}

#page2 .elem .dets:hover{
    height: 36vh;
}

#page3{
    height: 40vh;
    width: 100%;
}

#page3 #text{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#page3 #text #text-left{
    width: 50%;
    padding: 1vw 0vw;
    margin-left: -2.7vw;
}

#page3 #text #text-left h1{
    font-size: 3.5vw;
    font-family: 'Futura', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 3.9vw;
}

#page3 #text #text-right {
   width: 30%;
   padding-right: 4vw;
}

#page3 #text #text-right p{
    font-size: 1.1vw;
    font-family: 'Futura', sans-serif;
    font-weight: 300;
    padding-bottom: 3vw;
}

#page3 #text #text-right h5{
    font-size: 1vw;
    font-family: 'Futura', sans-serif;
    font-weight: 300;
    border-bottom: 1px solid black;
    cursor: pointer;
}

#page4{
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
}


 .child{
    height: 65vh;
    width: 40vw;
    margin: 7vw 1vw;
   
}

.child img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
    scale: 1.2;
    
}

.child h5{
    text-transform: capitalize;
    font-size: 1vw;
    font-family: 'Futura', sans-serif;
    font-weight: 300;
    text-align: center;
    margin-top: 5vw;
}

.child h6{
    text-transform: capitalize;
    font-size: 0.8vw;
    font-family: 'Futura', sans-serif;
    font-weight: 300;
    text-align: center;
    margin-top: 1vw;
}

#page5{
    height: 100vh;
    width: 100%;
    position: relative;
    margin-top: 8vw;
}

#page5 #top-bar{
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 3vw;
    border-bottom: 1px solid black;
    position: absolute;
}
@media (max-width: 600px) {
    
    #nav-part1{
        height: 8vw;
    }
    #nav-part1 svg{
        height: 8vw;
    }
    
    #nav #nav-part2{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3vw;
    }
    
    #nav-part2 #links{
        padding: 1vw;
    }
    #nav-part2 #links a{
        font-size: 2vw;
        
    }
    #nav-part2 #icons{
      font-size: 2.2vw;  
    }

    #page1 h1{
        padding-left: 3vw;  
    }
    
    #image-container{
        height: 65vh;
    }
    
    #image-container img{
        scale: 1;
    }
    
    #page1 h2{
        font-size: 5.4vw;
        margin-top: 10vw;
        
    }
    
    #page1 h5{
        font-size: 2vw;
    }
    
    #page1 h4{
        font-size: 1.6vw;
    }

    #page1 #line-bar h6{
        font-size: 1.9vw;
    }
        
        
    
    #page2{
        flex-direction: column;
    }
    
    #page2 .elem{
        height: 100%;
        width: 100%;
        overflow: hidden;
        margin: 3vw 1vw;
    }
    
    #page2 .elem img{
        scale: 1;
      
    }
    
    #page2 .elem .dets{
        height: 5vw;
        width: 30%;
    }
    
    #page2 .elem .dets:hover{
        height: 24vh;
    }
    
    #page3{
        height: 40vh;
    }
    
    #page3 #text #text-left{
        width: 58%;
        margin-left: 1vw;
    }
    
    #page3 #text #text-left h1{
        font-size: 7vw;
        line-height: 6.5vw;
    }
    
    #page3 #text #text-right p{
        font-size: 2vw;
    }
    
    #page3 #text #text-right h5{
        font-size: 2.4vw;
        font-weight: 400;
    }
    
    
     .child{
        height: 30vh;
        width: 40vw;
        margin: 6vw 1vw;
       
    }
    
    .child h5{
        font-size: 2vw;
    }
    
    .child h6{
        text-transform: capitalize;
        font-size: 1.8vw;
        font-family: 'Futura', sans-serif;
        font-weight: 300;
        text-align: center;
        margin-top: 1.6vw;
    }

    #page5{
        margin-top: 12vw;
    }

    #page5 #top-bar{
        height: 2vh;
        padding: 0vw 3vw;    
    }
    #page5 #top-bar h5{
        font-size: 1.7vw;
    }

}

